section{
background: #bdc3c7; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #bdc3c7, #2c3e50); 
}