<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <app-title [title]="'About'" [dark]="false" [main]="false"></app-title>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Persona dedicada, responsable, amable, 
            me gusta el trabajo en equipo,por otra parte, el diseñar, 
            programar, mantener sistemas informaticos y saber usar la mejor arquitectura, 
            que le permitan complementar.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Algunos de mis conocimientos en la parte de fronted: Angular,
            vue.js, React, html, css, entre otros. Backend: .net, sql, SqlServer, java, SpringBoot,
            PhP, Python entre otras. Algunos conocimientos contables y de gestion
          </p>
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="">
          <i class="fas fa-download mr-2"></i>
          Free Download CV!
        </a>
      </div>

    </div>
  </section>