<!-- Masthead -->
<body>
    

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <meta name="google-site-verification" content="xnb4wW3MFIdz1Gtbm5ewymRyvZgtpcBoP-EUnQP0LvY" />
        <!-- Masthead Avatar Image -->
        <img class="img mb-3" src="assets/img/portfolio/ImagenEdwinValencia.jpeg" alt="">

        <app-title [title]="'Edwin Valencia'" [dark]="false" [main]="true"></app-title>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">Ingeniero de Sistemas - Web Designer - Frontend/Backend</p>

    </div>
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
</header>
</body>