 <!-- Footer -->
 <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">San Juan de Pasto
            <br>Nariño - Colombia</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.instagram.com/edwin_valencia20/">
            <i class="fab fa-i fa-instagram"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://api.whatsapp.com/send?phone=573158388988">
            <i class="fab fa-w fa-whatsapp"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.linkedin.com/in/edwin-valencia-333849226/">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://github.com/winvale">
            <i class="fab fa-g fa-github"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Freelancer</h4>
          <p class="lead mb-0">Ingeniero de Sistemas Full-Stack
            <a href="">Start Bootstrap</a>.</p>
        </div>

      </div>
    </div>
  </footer>