 <!-- Contact Section -->
 <section class="page-section" id="contact">
    <div class="container">

    <app-title [title]="'Contact Me'" [dark]="true" [main]="false"></app-title>


      <!-- Contact Section Form -->
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <form name="sentMessage" id="contactForm" novalidate="novalidate" >
            <form name="contact" netlify>
              <p>
                <label>Name <input type="text" name="name" /></label>
              </p>
              <p>
                <label>Email <input type="email" name="email" /></label>
              </p>
              <p>
                <button type="submit">Send</button>
              </p>
            </form>
          </form>
        </div>
      </div>

    </div>
  </section>